{
    "parser": "babel-eslint",
    "extends": [
        "airbnb-base"
    ],
    "rules": {
        "indent": ["error", 4],
        "import/no-extraneous-dependencies": "off",
        "max-len": ["error", { "code": 160 }],
        "no-bitwise": ["error", { "int32Hint": true }],
        "no-console": "off",
        "no-unused-vars": "off",
        "object-curly-newline": ["error", { "consistent": true }],
        "quote-props": ["error", "consistent"]
    },
    "env": {
        "browser": true,
        "node": true
    }
}
