{% extends "layouts/default.njk" %}

{# Variables #}
{% set titlePage = 'Index page' %}

{% block content %}
    <section id="hero" class="hero" style="background-image: url(//picsum.photos/1920/1080?image={{ picsumIds | random }})">
        <div class="container">
            <h2 class="hero__title">Do More With Enterprise.</h2>
            <p class="hero__subtitle">Together, there's no stopping you.</p>
            <a href="#" class="hero__btn btn">See the videos</a>
        </div>
    </section>

    <section class="testimonial container">
        <figure>
            <blockquote>Knowing that I have people at my bank dedicated to help my business succeed with opportunities and advice is invaluable</blockquote>
            <figcaption><strong>Carlo Espinosa</strong>Principal, Freedom interiors</figcaption>
        </figure>
        <a href="#" class="btn --outline">View case studies</a>
    </section>
{% endblock %}
