<header id="masthead" class="site-header header" role="banner">
    <div class="container site-header-main">

        <div class="site-branding">
            <h1 class="site-title">
                <a href="#" rel="home">
                    <img src="https://via.placeholder.com/290x60?text=EBT+Logo" alt="EB&T logo">
                </a>
            </h1>
        </div>

        <button id="menu-toggle" class="menu-toggle">Menu</button>

        <nav id="site-navigation" data-move=".site-branding" data-insert="start" data-on-breakpoints="tablet desktop" class="main-navigation" aria-label="Primary Menu">
            <a href="#">About</a>
            <a href="#">Video stories</a>
            <a href="#">Case Studies</a>
            <a href="#">Contact</a>
        </nav>
    </div>
</header>
