// @name Html
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    color: inherit;
}

// @name Body
body {
    background-color: $color-white;
    font-family: $typo-1;
    font-weight: $normal;
    overflow-x: hidden;

    &.-overflow-hidden {
        overflow: hidden;
    }

    a {
        text-decoration: none;
    }
}

.form {
    @include flex(null, null, null, null, null);
    margin-bottom: 3rem;

    * + * {
        margin-left: 1rem;
    }

    input,
    button {
        border: 0;
        font-size: 1.8rem;
        height: 5rem;
        line-height: 5rem;
        padding: 0 1em;
        text-transform: uppercase;
    }
}

.btn {
    background-color: $color-1--1;
    cursor: pointer;
    font-weight: $bold;
    text-align: center;
    transition: background-color 0.4s ease, color 0.4s ease;

    @include on-event {
        background-color: $color-1--2;
    }

    &::after {
        content: ' >';
    }
}
